@import "../partials//variables";

.footer {
  background-color: #f7f7f7;
  display: flex;
  flex-wrap: wrap;
  @include desktop {
    height: 150px;
    justify-content: center;
    flex-wrap: nowrap;
    align-items: center;
  }
  &-subscription {
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
    padding-top: 1.5rem;
    @include desktop {
      display: flex;
      flex-direction: column;
      margin-left: 20px;
      width: 33%;
    }
    &__title {
      margin-bottom: 0.5rem;
      color: $blue;
      @include desktop {
        @include tablet-second-header;
      }
    }
    &__text {
      margin-bottom: 0.5rem;
      color: $black;
      font-family: helvetica;
      @include desktop {
        @include tablet-paragraph;
        line-height: 20px;
        width: 70%;
      }
    }
    &__input {
      margin-bottom: 0.5rem;
      color: $blue;
      font-family: helvetica;
      height: 1.6rem;
    }
    &-btn {
      margin-left: 0.5rem;
      background: $blue;
      color: #fff;
      padding: 0.3rem 0.7rem;
      border: none;
      border-radius: 3px;
    }
  }
  &-social-media {
    display: flex;
    &__item {
      margin-right: 3rem;
      color: $blue;
      font-family: helvetica;
    }
  }
  &-commitment {
    margin-left: 1rem;
    margin-right: 1rem;
    @include desktop {
      width: 33%;
    }
    &__title {
      margin-bottom: 0.5rem;
      color: $blue;
      @include desktop {
        @include tablet-second-header;
      }
    }
    &__text {
      margin-bottom: 0.5rem;
      color: $black;
      font-family: helvetica;
      @include desktop {
        width: 75%;
        @include tablet-paragraph;
        line-height: 20px;
      }
    }
  }
  &-navigate {
    margin: 0.5rem 1rem;
    @include desktop {
    }
    &__title {
      margin-bottom: 0.5rem;
      color: $blue;
      font-family: helvetica;
      @include desktop {
        @include tablet-second-header;
      }
    }
    &__item {
      color: $black;
      @include desktop {
        @include tablet-paragraph;
        line-height: 20px;
      }
    }
  }
}
