@import "./variables";
.new-booking {
  &__container {
    @include desktop {
      margin-left: 350px;
      margin-right: 350px;
    }
  }
  &__title {
    color: $blue;
    &-container {
      display: flex;
      justify-content: center;
      @include desktop {
        margin-top: 4rem;
        @include tablet-second-header;
      }
    }
  }
  &__label {
    display: block;
    margin: 1rem;
    color: $blue;
    @include desktop {
      @include tablet-second-header;
      color: $blue;
    }
  }
  &__input {
    display: block;

    margin: 1rem;
    &--desc {
      height: 100px;
      width: 90%;
      @include desktop {
        width: 96%;
      }
    }
  }
  &__btn {
    display: block;
    width: 100%;
    margin: 1rem 0;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    background-color: $blue;
    border: none;
    border-radius: 3px;
    color: white;
    @include desktop {
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;
      @include tablet-sub-header;
    }
    &-container {
      margin: 1rem;
      @include desktop {
        margin-left: 200px;
        margin-right: 200px;
      }
    }
  }
}
