@import "./variables";

.profile {
  &-details {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 1rem;
    margin-right: 1rem;
    @include desktop {
      margin-left: 180px;
      margin-right: 180px;
    }
  }
  &-text {
    @include desktop {
      @include tablet-sub-header;
    }
  }
  &-image {
    @include desktop {
      width: 15rem;
      height: 13rem;
    }
    &__section {
      background: url("../assets/user.png");
      width: 8rem;
      height: 12rem;
      background-position: center;
      background-size: cover;
      border-radius: 5px;
    }
  }
  &-title {
    color: $blue;
    @include desktop {
      font-size: 20px;
      line-height: 32px;
      font-family: "avenir";
      font-weight: bold;
    }
  }

  &-main {
    &__section {
      display: flex;
      justify-content: center;
    }
    &__title {
      color: $blue;
      @include desktop {
        margin-bottom: 3rem;
        margin-top: 2rem;
        @include tablet-second-header;
      }
    }
  }
}
.new-transit {
  display: flex;
  justify-content: center;
  margin: 1rem;
  &__btn {
    background-color: $blue;
    color: white;
    border: none;
    padding: 8px 0;
    border-radius: 3px;
    padding-left: 3rem;
    padding-right: 3rem;
    @include desktop {
      @include tablet-sub-header;
      padding: 0.7rem 4rem;
    }
  }
}
