@import "./partials/navbar";
@import "./partials/hero";
@import "./partials/variables";
@import "./partials/footer";
@import "./partials/card";
@import "./partials/description";
@import "./partials/login";
@import "./partials/register";
@import "./partials/profile";
@import "./partials/booking";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
Link {
  text-decoration: none;
}
ul {
  list-style-type: none;
}
